@model TestGenerator.Website.Models.HomeModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container inputs">
    <div class="col-md-6">
        <div class="input">
            <h4>Class To Test</h4>
            @Html.TextBoxFor(m => m.TypeOfClassToTest, new { placeholder = "Type" })
            @Html.TextBoxFor(m => m.ClassToTest, new { placeholder = "Instance Name" })
        </div>
        <button id="generate" type="submit">Generate</button>
    </div>
    <div class="col-md-6">
        <div class="input">
            <h4>Parameters</h4>
            <button id="addParam">+</button>
            <button id="removeParam">-</button>
            <div id="parameterContainer">
                @if (Model.ClassParameters != null && Model.ClassParameters.Count > 0)
                {
                    foreach (var item in Model.ClassParameters)
                    { 
                        <div class="parameter">
                            <input type="text" placeholder="Type" value="@item.Key" />
                            <input type="text" placeholder="Instance Name" value="@item.Value" />
                        </div>
                    } 
                }
            </div>
        </div>
    </div>
</div>
<div id="parameterTemplate" class="parameter hidden">
    <input type="text" placeholder="Type" />
    <input type="text" placeholder="Instance Name" />
</div>
<div id="output" class="container">
    <pre><code class="language-csharp line-numbers">/* &lt;summary&gt;*/
public class MyClass() { Console.WriteLine("Hello World"); } </code></pre>
</div>